dialog .about-dialog .main-container button {
    background-color: transparent;
    outline: none;
    border: none;
    padding: 0;
    color: var(--ca-gray-light);
    font-family: @font;
    font-size: 12pt;
    text-decoration: underline;
    cursor: pointer;
    &:hover {
        color: var(--ca-gray1);
    }
}
