dialog .function-editor-dialog .main-container {
    .value-editor {
        display: flex;
        font-size: 16pt;
        * {
            font-family: @font-katex;
        }
        .function-tag {
            padding-right: 11px;
        }
    }
}
