.calculator-container {
    flex: 4;
    display: flex;
    flex-direction: column;
    .output-container {
        flex: 1;
        background-color: @deep1;
        border-bottom: @border-style;
        position: relative;
        min-height: 206px;
        .output-tag {
            &:extend(p all);
            position: absolute;
            left: 20px;
            bottom: 20px;
            font-size: 11pt;
            color: @gray1 !important;
        }
        .number-box-list {
            width: 40%;
            margin: 20px;
            padding: 0;
            .number-box {
                list-style: none;
                cursor: pointer;
                .name {
                    display: inline-block;
                    min-width: 40px;
                    text-align: right;
                    color: @gray1;
                    margin-right: 10px;
                }
                .number {
                    color: @gray-light;
                }
                &.active .name {
                    color: #dde3f5 !important;
                }
                &:hover .name {
                    color: @gray-light;
                }
            }
        }
        .input-box {
            position: absolute;
            right: 0;
            top: 0;
            width: 60%;
            padding-right: 50px;
            .display {
                display: flex;
                // justify-content: flex-end;
                color: @gray-light;
                font-size: 30px;
                min-height: 100px;
                overflow-x: auto;
                cursor: text;
                .scrollbar-style();
                & > span {
                    display: inline;
                }
                & > *:first-child {
                    // see https://www.zhangxinxu.com/wordpress/2021/12/flex-end-overflow/
                    margin-left: auto !important;
                }
                .cursor {
                    margin: 1em 0; // keep the cursor fixed on the middle
                    margin-left: -1px; // make the symbols fixed when the cursor moves
                    border-right: 1px solid transparent;
                    max-height: 40px;
                    &.cursor-blink {
                        border-right-color: @gray-light;
                    }
                }
            }
        }
        .output-box {
            position: absolute;
            right: 0;
            bottom: 0;
            width: 60%;
            padding-right: 50px;
            .display {
                display: flex;
                // justify-content: flex-end;
                color: @gray-light;
                font-size: 45px;
                min-height: 156px;
                overflow-x: auto;
                .scrollbar-style();
                & > div:first-child {
                    margin-left: auto;
                }
            }
        }
    }
    .input-container {
        flex: 2;
        background-color: @deep2;
        .keypad {
            padding: 3px;
            &-row {
                display: flex;
                width: 100%;
                height: 55px;
                align-items: center;
                .keypad-button-container {
                    display: inline-block;
                    justify-content: space-around;
                    position: relative;
                    height: 50px;
                    .keypad-button {
                        display: flex;
                        background-color: transparent;
                        outline: none;
                        border: none;
                        padding: 0;
                        position: absolute;
                        top: 2px;
                        left: 2px;
                        right: 2px;
                        bottom: 2px;
                        flex-flow: row;
                        align-items: center;
                        transition: background-color .08s;
                        cursor: pointer;
                        span {
                            flex: 1;
                            text-align: center;
                            color: @gray-light;
                        }
                        &:hover {
                            background-color: @gray5;
                        }
                        &:active {
                            background-color: @gray3;
                        }
                        &:disabled {
                            cursor: default;
                            span {
                                color: @gray1;
                            }
                            &, &:hover, &:active {
                                background-color: transparent;
                            }
                        }
                    }
                }
                .keypad-placeholder {
                    width: 2%;
                    height: 100%;
                }
            }
        }
    }
    .graphing-container {
        height: 100%;
        background-color: @deep1;
        .input-container {
            // todo
        }
    }
}
