.calculator-container {
    flex: 4;
    display: flex;
    flex-direction: column;
    .output-container {
        flex: 1;
        background-color: #f7f7f7; // for dev
    }
    .input-container {
        flex: 2;
    }
}
