#dialogs dialog {
    flex-direction: column;
    width: 650px;
    height: 500px;
    background-color: var(--ca-gray5);
    outline: none;
    border-color: transparent;
    border-radius: 4px;
    box-shadow: 0 0 16px rgb(0, 0, 0, .12), 0 16px 16px rgb(0, 0, 0, .24);
    overflow: hidden;
    &[open] {
        display: flex;
    }
    &::backdrop {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, .4);
    }
    .header-container {
        flex: 1;
        padding-left: 15px;
        h1 {
            display: inline-block;
            font-size: 22pt;
        }
    }
    .main-container {
        flex: 5;
        position: relative;
        padding: 15px 25px;
        color: var(--ca-gray-light);
        font-family: @font;
        overflow: hidden;
        p {
            margin: 0;
            margin-bottom: 13px;
            img {
                vertical-align: text-bottom;
            }
        }
        a {
            color: var(--ca-green2);
            text-decoration: underline;
        }
        ul {
            list-style: none;
            padding: 10px 0;
            font-size: 13pt;
            li {
                margin-bottom: 10px;
                .item-name {
                    vertical-align: super;
                }
                .item-content {
                    float: right;
                    font-family: @font-bold;
                }
            }
        }
        table {
            width: 100%;
            table-layout: fixed;
            border-spacing: 5px;
            font-family: @font;
            thead th {
                color: var(--ca-gray1);
                text-align: left;
            }
            tbody {
                display: block;
                width: 600px;
                height: 330px;
                overflow-y: auto;
                .scrollbar-style();
                tr {
                    display: table;
                    width: 100%;
                    table-layout: fixed;
                    td {
                        width: 100%;
                        color: var(--ca-gray-light);
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }
            }
        }
        .indialog-page {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 100;
            background-color: var(--ca-gray5);
            padding: 5px 25px;
            &.on {
                display: block;
            }
            &-header {
                display: flex;
                flex-flow: row;
                align-items: center;
                margin-bottom: 10px;
                .back-button {
                    color: var(--ca-gray1);
                    font-size: 11pt;
                    text-decoration: none;
                }
                h2 {
                    display: inline-block;
                    font-size: 15pt;
                    margin: 0;
                    margin-left: 10px;
                }
            }
            &-content {
                height: 100%;
                padding: 0 10px;
                .license-content {
                    width: 100%;
                    height: 100%;
                    white-space: pre-line;
                    background-color: transparent;
                    border: none;
                    color: var(--ca-gray-light);
                    font-family: monospace;
                    resize: none;
                }
            }
        }
    }
    .footer-container {
        flex: .5;
        display: flex;
        justify-content: flex-end;
        flex-flow: row;
        align-items: flex-end;
        .footer-button {
            width: 62px;
            height: 30px;
            background-color: var(--ca-green2);
            border-color: transparent;
            border-radius: 3px;
            color: #fff;
            font-family: @font;
            outline: none;
            cursor: pointer;
            &:hover, &:active {
                background-color: var(--ca-green3);
            }
        }
    }

    &.about-dialog .main-container button {
        background-color: transparent;
        outline: none;
        border: none;
        padding: 0;
        color: var(--ca-gray-light);
        font-family: @font;
        font-size: 12pt;
        text-decoration: underline;
        cursor: pointer;
        &:hover {
            color: var(--ca-gray1);
        }
    }

    &.converting-dialog .main-container {
        display: flex;
        .dialog-sidebar {
            flex: 1;
            display: flex;
            flex-direction: column;
            .unit-type-button {
                height: 35px;
                text-align: left;
                border: none;
                outline: none;
                border-radius: 4px;
                background-color: transparent;
                cursor: pointer;
                span {
                    color: var(--ca-gray-light);
                    font-size: 11pt;
                    margin-left: 10px;
                }
                &.active {
                    background-color: var(--ca-gray9);
                }
            }
        }
        .dialog-content {
            flex: 3;
            display: flex;
            flex-direction: column;
            padding-left: 20px;
            overflow-y: auto;
            .scrollbar-style();
            .units-page {
                display: flex;
                flex-direction: column;
                padding: 10px;
                padding-top: 0;
                .unit-item {
                    display: flex;
                    justify-content: space-between;
                    height: 38px;
                    padding-bottom: 5px;
                    .unit-value-input {
                        width: 290px;
                        input[type=text] {
                            width: 100%;
                            height: 100%;
                            outline: none;
                            background-color: transparent;
                            padding: 0 7px;
                            border: 1px solid var(--ca-gray4);
                            border-radius: 3px;
                            color: var(--ca-gray-light);
                            font-size: 14pt;
                            font-family: @font;
                            caret-color: var(--ca-gray-light);
                            &:focus {
                                border-color: var(--ca-gray-light);
                            }
                        }
                    }
                    .unit-info {
                        padding-top: 15px;
                        padding-right: 5px;
                        font-size: 10pt;
                        span.unit-name {
                            margin-right: 3px;
                            color: var(--ca-gray7);
                        }
                        span.unit-display-name {
                            font-size: 11pt;
                        }
                    }
                }
            }
        }
    }
}
