@import "./dialogs/about.less";
@import "./dialogs/converting.less";
@import "./dialogs/pre-input.less";
@import "./dialogs/seniority.less";
@import "./dialogs/function-editor.less";

#dialogs dialog {
    flex-direction: column;
    width: 650px;
    height: 500px;
    background-color: var(--ca-gray5);
    outline: none;
    border-color: transparent;
    border-radius: 4px;
    box-shadow: 0 0 16px rgb(0, 0, 0, .12), 0 16px 16px rgb(0, 0, 0, .24);
    overflow: hidden;
    &[open] {
        display: flex;
    }
    &::backdrop {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, .4);
    }
    .header-container {
        flex: 1;
        padding-left: 15px;
        h1 {
            display: inline-block;
            font-size: 22pt;
        }
    }
    .main-container {
        flex: 5;
        position: relative;
        padding: 15px 25px;
        color: var(--ca-gray-light);
        font-family: @font;
        overflow: hidden;
        p {
            margin: 0;
            margin-bottom: 13px;
            img {
                vertical-align: text-bottom;
            }
        }
        a {
            color: var(--ca-green2);
            text-decoration: underline;
        }
        ul {
            list-style: none;
            padding: 10px 0;
            font-size: 13pt;
            li {
                margin-bottom: 10px;
                .item-name {
                    vertical-align: super;
                }
                .item-content {
                    float: right;
                    font-family: @font-bold;
                }
            }
        }
        table {
            width: 100%;
            table-layout: fixed;
            border-spacing: 5px;
            font-family: @font;
            thead th {
                color: var(--ca-gray1);
                text-align: left;
            }
            tbody {
                display: block;
                width: 600px;
                height: 330px;
                overflow-y: auto;
                .scrollbar-style();
                tr {
                    display: table;
                    width: 100%;
                    table-layout: fixed;
                    td {
                        width: 100%;
                        color: var(--ca-gray-light);
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }
            }
        }
        .indialog-page {
            display: none;
            flex-direction: column;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 100;
            background-color: var(--ca-gray5);
            padding: 5px 25px;
            &.on {
                display: flex;
            }
            &-header {
                display: flex;
                flex-flow: row;
                align-items: center;
                margin-bottom: 10px;
                .back-button {
                    display: flex;
                    flex-flow: row;
                    align-items: center;
                    text-decoration: none;
                    svg {
                        width: 15px;
                        vertical-align: middle;
                        fill: var(--ca-gray1);
                    }
                    span {
                        color: var(--ca-gray1);
                        font-size: 11pt;
                    }
                }
                h2 {
                    display: inline-block;
                    font-size: 15pt;
                    margin: 0;
                    margin-left: 10px;
                }
            }
            &-content {
                height: 90%;
                padding: 0 10px;
            }
        }
    }
    .footer-container {
        flex: .5;
        display: flex;
        justify-content: flex-end;
        flex-flow: row;
        align-items: flex-end;
        .footer-button {
            .dialog-button-style();
            margin-left: 15px;
        }
    }
}
