@import "./fonts.less";

@import "./sidebar.less";
@import "./calculator.less";

body {
    margin: 0;
    padding: 0;
}

main.calcium {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
