@import "./fonts.less";
@import "./vars.less";

@import "./dialog.less";
@import "./sidebar.less";
@import "./calculator/calculator.less";

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

main.calcium {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

h1, h2, h3, h4, h5, h6, p {
    color: @gray-light;
    cursor: default;
    &::selection {
        background-color: transparent;
    }
}

span, p, p * {
    font-family: @font;
}

h1, h2, h3, h4, h5, h6 {
    font-family: @font-bold;
    font-weight: 400;
}
