.sidebar-container {
    flex: 1;
    display: flex;
    flex-direction: row;
    .mode-switcher {
        flex: .8;
        background-color: @deep1;
        font-size: 0;
        border-right: @border-style;
        .mode-button {
            width: 100%;
            height: 0;
            padding-bottom: 100%;
            background-color: transparent;
            border: none;
            mask-repeat: no-repeat;
            mask-size: 50%;
            mask-position: center center;
            background-color: @gray1;
            cursor: pointer;
            &.active {
                background-color: @gray-light !important;
            }
            &:hover {
                background-color: @gray6;
            }
        }
    }
    .history {
        flex: 4;
        display: flex;
        flex-direction: column;
        background-color: @deep2;
        border-right: @border-style;
        &-header {
            padding: 30px;
            padding-bottom: 20px;
            font-family: @font;
            h1 {
                display: inline-block;
                margin: 0;
                font-size: 13pt;
            }
            span.tip {
                margin-left: 10px;
                color: @gray1;
                font-size: 10pt;
                kbd {
                    margin-right: 3px;
                }
            }
        }
        &-main {
            width: 100%;
            height: 100%;
            overflow: auto;
            .scrollbar-style();
            .history-item {
                display: flex;
                flex-direction: column;
                width: 0;
                height: 60px;
                padding-left: 20px;
                padding-bottom: 20px;
                .item-input {
                    flex: 1;
                    color: @gray1;
                    font-size: 10pt;
                    white-space: nowrap;
                }
                .item-output {
                    flex: 1;
                    color: @gray-light;
                    font-size: 13pt;
                    white-space: nowrap;
                }
            }
        }
    }
}
