.sidebar-container {
    display: flex;
    flex-direction: row;
    .border-line(top);
    .mobile-control-panel {
        display: none;
        flex-direction: column;
        justify-content: space-between;
        width: 65px;
        background-color: var(--ca-light1);
        .border-line(right);
        .sidebar-title {
            padding: 20px 0;
            text-align: center;
            border-bottom: 1px solid var(--ca-gray2);
            white-space: nowrap;
            color: var(--ca-gray-light);
        }
        .mode-switcher-wrapper {
            position: relative;
            .mode-switcher {
                font-size: 0;
                .mode-button-container {
                    position: relative;
                    .mode-button {
                        width: 100%;
                        height: 0;
                        padding-bottom: 100%;
                        background-color: transparent;
                        border: none;
                        mask: no-repeat;
                        mask-size: 50%;
                        mask-position: center center;
                        background-color: var(--ca-gray1);
                        cursor: pointer;
                        &.active {
                            background-color: var(--ca-gray-light) !important;
                        }
                        &:hover {
                            background-color: var(--ca-gray6);
                        }
                    }
                    &:hover .highlight-bar {
                        background-color: var(--ca-gray7);
                    }
                    &:active .highlight-bar {
                        background-color: var(--ca-blue3);
                    }
                    .mobile-mode-button {
                        display: none; // flex
                        height: 100%;
                        &-bar {
                            width: 5px;
                        }
                        &-name {
                            flex: 1;
                            display: flex;
                            align-items: center;
                            padding-left: 7px;
                            color: var(--ca-gray7);
                            font-size: 11pt;
                            white-space: nowrap;
                            overflow: hidden;
                        }
                        &.active {
                            .mobile-mode-button-bar {
                                background-color: var(--ca-blue1);
                            }
                            .mobile-mode-button-name {
                                color: var(--ca-gray-light);
                            }
                        }
                    }
                }
            }
        }
        .links {
            color: var(--ca-gray1);
            text-align: center;
            font-style: italic;
            font-size: 10pt;
            margin-top: 20px;
            span {
                display: block;
                margin: 10px 0;
                white-space: nowrap;
            }
        }
        .sidebar-backdrop {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, .3);
            z-index: -100;
        }
    }
    .ka-wrapper {
        flex: 4;
        background-color: var(--ca-light2);
        position: relative;
        .border-line(right);
        .ka-content {
            height: 100%;
            .sidebar-page {
                display: flex;
                flex-direction: column;
                height: 100%;
                &-header {
                    padding: 30px;
                    padding-bottom: 20px;
                    font-family: @font;
                    h1 {
                        display: inline-block;
                        margin: 0;
                        font-size: 13pt;
                    }
                    span.tip {
                        margin-left: 10px;
                        color: var(--ca-gray1);
                        font-size: 10pt;
                        kbd {
                            margin-right: 3px;
                        }
                    }
                }
                &#history .sidebar-page-body {
                    height: 100%;
                    overflow-x: hidden;
                    overflow-y: auto;
                    .scrollbar-style();
        
                    .history-container {
                        position: relative;
                        .history-main {
                            width: 100%;
                            position: absolute;
                            .history-item {
                                display: flex;
                                flex-direction: column;
                                width: 100%;
                                height: 70px;
                                position: relative;
                                padding: 10px 30px;
                                transition: background-color .08s;
                                box-sizing: border-box;
                                cursor: pointer;
                                .item-input {
                                    flex: 1;
                                    color: var(--ca-gray1);
                                    font-size: 10pt;
                                    overflow: hidden;
                                    white-space: nowrap;
                                }
                                .item-output {
                                    flex: 1;
                                    color: var(--ca-gray-light);
                                    font-size: 13pt;
                                    white-space: nowrap;
                                    span .item-number-sys {
                                        display: inline-block;
                                        border-radius: 3px;
                                        margin-left: 10px;
                                        padding: 3px 5px;
                                        height: 15px;
                                        color: #fff;
                                        font-size: 10pt;
                                        vertical-align: text-bottom;
                                        &.sys-hex {
                                            background-color: #d33333;
                                        }
                                        &.sys-dec {
                                            background-color: #2a64e2;
                                        }
                                        &.sys-oct {
                                            background-color: #e48810;
                                        }
                                        &.sys-bin {
                                            background-color: #359134;
                                        }
                                    }
                                }
                                &:hover {
                                    background-color: var(--ca-gray5);
                                }
                                &:active {
                                    background-color: var(--ca-gray3);
                                }
                            }
                        }
                    }
                }
                &#function-list {
                    overflow-x: hidden;
                    overflow-y: auto;
                    .scrollbar-style();
                    @border-radius: 3px;
                    
                    .function-list-main {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        height: 100%;
                        .function-input-box {
                            display: flex;
                            &-tag {
                                flex: 1;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                .select {
                                    margin-left: 5px;
                                    width: 100%;
                                    z-index: 50;
                                    .select-button button {
                                        height: 100%;
                                        background-color: transparent;
                                        .select-item {
                                            color: var(--ca-gray-light);
                                            padding-top: 7px;
                                            padding-left: 0;
                                            padding-right: 0;
                                        }
                                    }
                                    .select-panel .select-item {
                                        color: var(--ca-gray-light);
                                        padding-top: 10px;
                                        padding-left: 10px;
                                    }
                                }
                            }
                            .input-box {
                                flex: 3.5;
                                width: 0;
                                .input-box-style();
                                background-color: var(--ca-gray5);
                                border: 1px solid var(--ca-gray4);
                                border-radius: @border-radius;
                                margin: 5px;
                                margin-left: 10px;
                                padding-left: 7px;
                                padding-right: 7px;
                                overflow-x: auto;
                                .display {
                                    font-size: 12px;
                                    min-height: 40px;
                                    max-height: 40px;
                                    .cursor {
                                        margin-left: 0;
                                        margin-right: -1px;
                                    }
                                }
                            }
                            .add-button-container {
                                flex: 1.1;
                                display: inline-block;
                                position: relative;
                                margin: 2px;
                                margin-right: 11px;
                                .add-button {
                                    .button-style();
                                    span {
                                        color: var(--ca-green1);
                                        font-size: 11pt;
                                    }
                                }
                            }
                        }
                        .function-list {
                            .function-list-style();
                            &-item {
                                &-buttons button svg {
                                    fill: transparent; // var(--ca-gray-light)
                                }
                                &:hover .function-list-item-buttons svg {
                                    fill: var(--ca-gray-light);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .sash {
        height: calc(100% - 26px - 40px);
    }
}
