:root {
    // Dark Mode
    body[theme=dark] {
        --ca-gray-light: #cbd0df;
        --ca-gray1: #8c949e;
        --ca-gray2: #2a2f36;
        --ca-gray3: #232629;
        --ca-gray4: #383d42;
        --ca-gray5: #1a1c1f;
        --ca-gray6: #acb0bd;
        --ca-gray7: #83848d;
        --ca-gray8: #3d4247;
        --ca-gray9: #2a3039;
        --ca-light1: #0e1117;
        --ca-light2: #010409;
        --ca-green1: #62b669;
        --ca-green2: #238636;
        --ca-green3: #2ea043;
        --ca-blue1: #0153d2;
        --ca-blue2: #1861ce;
        --ca-blue3: #3e62af;
        --ca-blue4: #3b71e5;
        --ca-blue5: #2277e648;
        --ca-tag-var: #e6a87e;
        --ca-tag-func: #d2a8ff;
    }

    // Light Mode
    body[theme=light] {
        --ca-gray-light: #404041;
        --ca-gray1: #787e85;
        --ca-gray2: #c0c0c0;
        --ca-gray3: #95989b;
        --ca-gray4: #9b9b9b;
        --ca-gray5: #f8f8f8;
        --ca-gray6: #898d96;
        --ca-gray7: #83848d;
        --ca-gray8: #aaabac;
        --ca-gray9: #d4d6d8;
        --ca-light1: #f7f7f7;
        --ca-light2: #ececec;
        --ca-green1: #2da837;
        --ca-green2: #238636;
        --ca-green3: #2ea043;
        --ca-blue1: #0165e1;
        --ca-blue2: #3566cf;
        --ca-blue3: #3e62af;
        --ca-blue4: #3b71e5;
        --ca-blue5: #2277e62a;
        --ca-tag-var: #9a6700;
        --ca-tag-func: #8250df;

        kbd {
            background-color: #dad8d8;
            border-color: var(--ca-gray1);
        }

        #dialogs dialog {
            box-shadow: 0 0 11px 0px #636262, 0 16px 15px #7e7e7e;
        }

        .calculator-container .output-container .number-box-list .number-box.active * {
            color: #3b3c3c !important;
        }
    }

    --ca-seniority-split: "的";
}

.scrollbar-style() {
    @size: 7px;
    &::-webkit-scrollbar {
        width: @size;
        height: @size;
    }
    &::-webkit-scrollbar-thumb {
        background-color: var(--ca-gray8);
        &:hover {
            background-color: var(--ca-gray7);
        }
        &:active {
            background-color: var(--ca-gray6);
        }
    }
    &::-webkit-scrollbar-track {
        background-color: transparent;
    }
}
