@gray-light: #cbd0df;
@gray1: #8c949e;
@gray2: #4a4e53;
@gray3: #232629;
@gray4: #383d42;
@gray5: #1a1c1f;
@gray6: #acb0bd;
@gray7: #83848d;
@deep1: #0e1117;
@deep2: #010409;

@border-style: 1px solid @gray2;

.scrollbar-style() {
    @size: 3px;
    &::-webkit-scrollbar {
        width: @size;
        height: @size;
    }
    &::-webkit-scrollbar-thumb {
        background-color: @gray2;
        &:hover {
            background-color: @gray7;
        }
        &:active {
            background-color: @gray6;
        }
    }
    &::-webkit-scrollbar-track {
        background-color: transparent;
    }
}
