@import "./mixin.less";
@import "./graphing.less";

.calculator-container {
    flex: 4;
    display: flex;
    flex-direction: column;
    .output-container {
        flex: 1;
        background-color: var(--ca-light1);
        .border-line(bottom);
        position: relative;
        min-height: 206px;
        cursor: text;
        * {
            font-family: @font-katex;
        }
        .output-tag {
            &:extend(p all);
            position: absolute;
            left: 20px;
            bottom: 20px;
            font-size: 11pt;
            color: var(--ca-gray1) !important;
        }
        .tofrac-switcher {
            width: 30px;
            height: 30px;
            position: absolute;
            left: 80px;
            bottom: 15px;
            font-size: 11pt;
            padding: 0 6px;
            border: 2px solid var(--ca-gray2);
            border-radius: 50px;
            background-color: var(--ca-gray5);
            outline: none;
            cursor: pointer;
            &.active {
                border-color: var(--ca-gray4);
                background-color: var(--ca-gray9);
            }
            span {
                color: var(--ca-gray1);
            }
        }
        .number-box-list {
            width: 40%;
            margin: 20px;
            padding: 0;
            * {
                font-family: @font;
            }
            .number-box {
                list-style: none;
                cursor: pointer;
                .name {
                    display: inline-block;
                    min-width: 40px;
                    text-align: right;
                    color: var(--ca-gray1);
                    margin-right: 10px;
                }
                .number {
                    color: var(--ca-gray1);
                }
                &.active * {
                    color: #dde3f5 !important;
                }
                &:hover * {
                    color: var(--ca-gray-light);
                }
            }
        }
        .input-box {
            .input-box-style(false);
            position: absolute;
            right: 0;
            top: 0;
            width: 60%;
            padding-right: 50px;
            z-index: 100;
            .display {
                font-size: 30px;
                min-height: 100px;
                & > span {
                    display: inline-flex;
                    align-items: center;
                }
                .cursor {
                    max-height: 40px;
                }
                *[data-testid=react-katex] {
                    height: 100%;
                }
            }
        }
        .output-box {
            position: absolute;
            right: 0;
            bottom: 0;
            width: 60%;
            padding-right: 50px;
            .display {
                display: flex;
                // justify-content: flex-end;
                color: var(--ca-gray-light);
                font-size: 45px;
                min-height: 156px;
                overflow-x: auto;
                .scrollbar-style();
                & > div:first-child {
                    margin-left: auto;
                }
                span.mfrac {
                    font-size: .82em;
                }
            }
        }
    }
    .input-container {
        flex: 2;
        background-color: var(--ca-light2);
        .keypad {
            padding: 3px;
            &-row {
                display: flex;
                width: 100%;
                height: 55px;
                align-items: center;
                .keypad-button-container {
                    display: inline-block;
                    justify-content: space-around;
                    position: relative;
                    height: 50px;
                    .keypad-button {
                        .button-style();
                    }
                }
                .keypad-placeholder {
                    width: 2%;
                    height: 100%;
                }
            }
        }
    }
    .mobile-input-container {
        flex: 2;
        display: none; // flex
        flex-direction: column;
        flex-flow: column;
        height: 0;
        .tabs-wrapper {
            position: relative;
            .tabs-container {
                display: flex;
                padding-top: 10px;
                background-color: var(--ca-light2);
                border-bottom: 1px solid var(--ca-gray2);
                .keypad-tab {
                    flex: 1;
                    display: flex;
                    justify-content: center;
                    height: 30px;
                    & > div {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        height: 100%;
                        .keypad-tab-name {
                            color: var(--ca-gray7);
                        }
                    }
                    &.open .keypad-tab-name {
                        color: var(--ca-gray-light);
                    }
                }
            }
            .tab-slider {
                width: 25%;
                height: 3px;
                position: absolute;
                bottom: 0;
                background-color: var(--ca-blue1);
                transition: transform .15s ease;
            }
        }
        .keypad {
            flex: 1;
            height: 0;
            padding: 5px;
            overflow-y: auto;
            section.keypad-section {
                display: none;
                flex-direction: column;
                height: 100%;
                &.open {
                    display: block;
                }
                .keypad-row {
                    display: flex;
                    width: 100%;
                    height: 55px !important;
                    align-items: center;
                    .keypad-button-container {
                        display: inline-block;
                        justify-content: space-around;
                        position: relative;
                        height: 50px;
                        margin-right: 3px;
                        .keypad-button {
                            background-color: var(--ca-gray5) !important;
                            .button-style();
                            span {
                                font-size: 12pt;
                            }
                        }
                    }
                    .keypad-placeholder {
                        width: 2%;
                        height: 100%;
                    }
                }
            }
        }
    }
}
