.calculator-container {
    position: relative;

    @border-radius: 3px;
    .function-input-container {
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 200px;
        position: absolute;
        left: 20px;
        bottom: 20px;
        border: @border-style;
        border-radius: @border-radius;
        background-color: @deep2;
        padding: 7px;

        @list-item-size: 4;
        .function-input-box {
            flex: 1;
            display: flex;
            position: relative;
            &-tag {
                flex: 1;
                .function-tag();
            }
            .input-box {
                flex: 4;
                .input-box-style();
                background-color: @gray5;
                border: 1px solid @gray4;
                border-radius: @border-radius;
                margin: 5px;
                margin-left: 0;
                padding-left: 7px;
                padding-right: 7px;
                overflow-x: auto;
                .display {
                    font-size: 12px;
                    min-height: 40px;
                    max-height: 40px;
                    .cursor {
                        margin-left: 0;
                        margin-right: -1px;
                    }
                }
            }
            .add-button-container {
                flex: 1.2;
                display: inline-block;
                position: relative;
                margin: 2px;
                .add-button {
                    .button-style();
                    span {
                        color: @green1;
                        font-size: 11pt;
                    }
                }
            }
        }
        .function-list {
            flex: @list-item-size;
            overflow-y: auto;
            .scrollbar-style();
            &-item {
                display: flex;
                height: calc(100% / @list-item-size);
                &-tag {
                    flex: 1;
                    .function-tag();
                }
                &-value {
                    flex: 5;
                    display: flex;
                    align-items: center;
                    color: @gray-light;
                }
            }
        }
    }
    .graphing-container {
        height: 100%;
        background-color: @deep1;
    }
}
