.navbar-label-style(@color: var(--ca-gray-light)) {
    color: @color;
    font-size: 11pt;
    font-weight: bold;
}

.button-style() {
    display: flex;
    background-color: transparent;
    outline: none;
    border: none;
    padding: 0;
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    width: 100%; // for firefox (firefox absolute positioning issue)
    bottom: 2px;
    flex-flow: row;
    align-items: center;
    transition: background-color .08s;
    cursor: pointer;
    span {
        flex: 1;
        text-align: center;
        color: var(--ca-gray-light);
        &::selection {
            background-color: transparent;
        }
    }
    &:hover {
        background-color: var(--ca-gray5);
    }
    &:active {
        background-color: var(--ca-gray9);
    }
    &:disabled {
        cursor: default;
        span {
            color: var(--ca-gray1);
        }
        &, &:hover, &:active {
            background-color: transparent;
        }
    }
}

.scrollbar-style() {
    @size: 7px;
    &::-webkit-scrollbar {
        width: @size;
        height: @size;
    }
    &::-webkit-scrollbar-thumb {
        background-color: var(--ca-gray8);
        &:hover {
            background-color: var(--ca-gray7);
        }
        &:active {
            background-color: var(--ca-gray6);
        }
    }
    &::-webkit-scrollbar-track {
        background-color: transparent;
    }
}

.function-tag() {
    display: flex;
    align-items: center;
    span {
        flex: 1;
        text-align: center;
        color: var(--ca-gray1);
    }
}

.input-box-style(@ltr: true) {
    .display {
        display: flex;
        align-items: center;
        color: var(--ca-gray-light);
        overflow-x: auto;
        overflow-y: hidden;
        cursor: text;
        .scrollbar-style();
        & > span {
            display: inline-flex;
            align-items: center;
            .katex-display {
                margin: 0;
            }
        }
        .cursor {
            // make the symbols fixed when the cursor moves
            margin-left: if(@ltr = true, 0, -1px);
            margin-right: if(@ltr = true, -1px, 0);

            border-right: 1px solid transparent;
            &.cursor-blink {
                border-right-color: var(--ca-gray-light);
            }
        }
    }
}

.dialog-input-box-style() {
    width: 100%;
    height: 100%;
    outline: none;
    background-color: transparent;
    padding: 0 10px;
    border: 1px solid var(--ca-gray4);
    border-radius: 3px;
    color: var(--ca-gray-light);
    font-size: 14pt;
    font-family: @font;
    caret-color: var(--ca-gray-light);
    &:focus {
        border-color: var(--ca-gray-light);
    }
}

.dialog-button-style() {
    width: 62px;
    height: 30px;
    background-color: var(--ca-green2);
    border-color: transparent;
    border-radius: 3px;
    color: #fff;
    font-family: @font;
    outline: none;
    cursor: pointer;
    &:hover, &:active {
        background-color: var(--ca-green3);
    }
    * {
        user-select: none;
    }
}

.function-list-style() {
    padding-top: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    .scrollbar-style();
    &-item {
        display: flex;
        height: 25px;
        margin: 3px 20px;
        padding: 3px 7px;
        border-radius: 5px;
        animation: function-item-added 100ms ease;
        animation-iteration-count: 1;
        &-tag {
            width: 45px;
            padding: 0 3px;
            .function-tag();
        }
        &-value {
            flex: 5;
            width: 100%;
            display: flex;
            align-items: center;
            color: var(--ca-gray-light);
            overflow: hidden;
            position: relative;
            .overflow-shadow {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                background: linear-gradient(to left, var(--ca-light2), transparent);
            }
        }
        &-buttons {
            flex: .5;
            display: none;
            button {
                display: flex;
                align-items: center;
                flex-flow: row;
                border: none;
                outline: none;
                background-color: transparent;
                svg {
                    fill: var(--ca-gray1);
                    width: 19px;
                    height: 19px;
                    margin-top: 3px;
                    cursor: pointer;
                }
            }
        }
        &.play-removing-animation {
            animation: function-item-removed 210ms ease-in;
        }
        &:hover {
            background-color: var(--ca-gray9);
            .function-list-item-buttons {
                display: flex;
            }
            .function-list-item-value .overflow-shadow {
                background: linear-gradient(to left, var(--ca-gray9), transparent);
            }
        }
    }
}

@border-style: 1px solid var(--ca-gray2);

.border-line(@position) when (@position = top) {
    border-top: @border-style;
}

.border-line(@position) when (@position = bottom) {
    border-bottom: @border-style;
}

.border-line(@position) when (@position = left) {
    border-left: @border-style;
}

.border-line(@position) when (@position = right) {
    border-right: @border-style;
}

.border-line(@position) when (@position = all) {
    border: @border-style;
}
